<% provide(:page_title, "New Author") %>


  <div class="card">

    <h5 class="card-header elegant-color white-text text-center py-4">
        <strong>New Author</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5">

        <!-- Form -->
        <div class="md-form" style="color: #757575;">

            <div class="text-center">
            </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.text_field :name, class: "form-control mb-4", placeholder: "Name" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-4", placeholder: "email" %>
          </div>

          <div class="form-group">
            <% if @minimum_password_length %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control mb-4", placeholder: "password (#{@minimum_password_length} characters minimum)" %>
            <% else %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control mb-4", placeholder: "password" %>
            <% end %>
            
          </div>

           <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mb-4", placeholder: "password confirmation" %>
          </div>

          <div class="actions">
            <%= f.submit "New Author", class: " btn btn-primary btn-sm my-4" %> 
          </div>
        <% end %>


        </div>
      </div>
    </div>
