<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark  elegant-color">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="/">One Month Blog</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact">Contact</a>
      </li>

<% if author_signed_in? %>  
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <%= fa_icon "user" %></i> <%= current_author.name %> </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <div class="dropdown-item"><%= link_to('New Post', new_post_path)  %></div>
           <div class="dropdown-item"><%= link_to('My posts', author_path(current_author.name))  %></div>
           <div class="dropdown-item"><%= link_to('My Account', edit_author_registration_path) %></div>
           <div class="dropdown-item"><%= link_to('New Author', new_author_registration_path)  %></div>
           <div class="dropdown-item"><%= link_to('Log out', destroy_author_session_path, method: :delete) %></div> 
        </div>
      </li>

<% else %>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <%= fa_icon "user" %></i> Login</a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <div class="dropdown-item"> <%= link_to('Login', new_author_session_path)  %></div> 
        </div>
      </li>     
<% end %>

    </ul>
</div>
    
    
    <!-- Search-->

    <form class="form-inline">
      <div class="md-form mt-0">
        <%= text_field_tag :search, params[:search], class: "form-control ", placeholder: "Search" %>
        </div>
      </div>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->

