<% provide(:page_title, "Edit #{@post.title}") %>

<div class="card">

    <h5 class="card-header elegant-color white-text text-center py-4">
        <strong>Edit <%= @post.title %></strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5">

        <!-- Form -->
        <div class="md-form" style="color: #757575;">

            <div class="text-center">
            </div>

          <% @post.errors.full_messages.each do |message| %>
            <div class="alert alert-danger col-sm-3" role="alert">
	            <%= message %>
            </div>
          <% end %>
            
          <%= form_for @post do |f| %>
            
            <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %><br />
            <span>Body</span>
            
            <%= f.text_area :body, :class => "tinymce", :rows => 20, :cols => 60 %><%= tinymce %><br />
            
            <%= f.submit "Update", class: 'btn btn-success btn-rounded btn-sm z-depth-0 ' %>
          <% end %>


        </div>
        <%= link_to 'Show', @post, class: "btn btn-sm btn-primary col-sm-1" %> | <%= link_to 'Back', posts_path, class: "btn btn-sm btn-warning col-sm-1" %>
      </div>
</div>


