<% provide(:page_title, "All The Posts") %>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
           <% @posts.each do |post| %>
          <div class="post-preview">
            <a href="<%= post_path(post) %>">
              <h2 class="post-title">
                <%= post.title %>
              </h2>
              </a>
              <p class="post-meta">Posted by
              <a href="<%= author_path(post.author.name) %>"><%= post.author.name %></a>
             <%= post.created_at.strftime("%b, %d %Y") %></p>
          </div>
          <hr>
  <% end %>

<%= will_paginate @posts, class: "pagination, Page navigation example, page-item,justify-content-center", previous_label: "Newer", next_label: "Older"%>

