<% provide(:page_title, "New Posts") %>

<div class="card">

    <h5 class="card-header elegant-color white-text text-center py-4">
        <strong>New Post</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5">

        <!-- Form -->
        <div class="md-form" style="color: #757575;">

            <div class="text-center">
            </div>

          <% @post.errors.full_messages.each do |message| %>
            <div class="alert alert-danger" role="alert">
	            <%= message %>
            </div>
          <% end %>
            <!--ajeitar msg de erro-->
          <%= form_for @post do |f| %>
            <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %><br />
            <%= f.text_area :body, class: 'form-control md-textarea', placeholder: 'body' %><br />
            <%= f.submit :submit, class: 'btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect' %>
          <% end %>


        </div>
      </div>
</div>

  
