<% provide(:page_title, @post.title) %>
  
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="text-center"><%= @post.title %></h1>
            <h6 class="text-center">Posted by
              <% if @post.author != nil %>
                <a class="font-weight-bold dark-grey-text" href="<%= author_path(@post.author.name) %>"><%= @post.author.name %></a>
              <% else %>
                  <a class="font-weight-bold dark-grey-text" href="#"> This Author no longer exist </a>
              <% end %> <%= @post.created_at.strftime("%b %d, %Y") %>
            </h6>
        </div>
  </div><br>
  
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div><%= @post.body.html_safe %></div>
        </div>
      </div>
  </article><br><br>
<% if author_signed_in? %>
  <% if @post.author != nil %>
    <% if current_author.name == @post.author.name %>
      <div class="form-group form-inline justify-content-center">
        <%= button_to 'Edit', edit_post_path(@post), method: :get, class: "btn btn-primary btn-sm" %> | <%= button_to "Delete", post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm" %>
      </div>  
    <% end %>
  <% else %>
    <% if current_author.admin == true %>
     <div class="form-group form-inline justify-content-center">
        <%= button_to 'Edit', edit_post_path(@post), method: :get, class: "btn btn-primary btn-sm" %> | <%= button_to "Delete", post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm" %>
      </div>  
    <% end %>
  <% end %>
<% end %>

<!--Section: Comments-->
<section class="my-5">

  <!-- Card header -->
  <div class="card-header border-0 font-weight-bold"><%= @post.comments.count %> Comments</div>

  <div class="d-block d-md-flex mt-4">
    <div class="media-body text-center text-md-left ml-md-3 ml-0">
        <%  @post.comments.each do |comment| %>
          <h6 class="font-weight-bold mt-0">
          <% if comment.user == nil && comment.author == nil %>
            <a href="#"> Anonymous </a>
          <% elsif comment.user != nil %>
            <a href="#"><%= comment.user.name %></a>
          <% elsif comment.author != nil %>
            <a href="#"><%= comment.author.name %> <em>(Author)</em></a>
          <% end %>
            <a href="" class="pull-right">
            <%= fa_icon "reply" %>
            </a>
          </h6>
          <div class="form-group">
          <%= comment.body %>
            <% if user_signed_in? %>
              
              <% if comment.user == current_user %>
                
                <%= button_to 'Delete', [comment.post, comment],
                    method: :delete, class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' } %>
              
              <% end %>
              
            <% elsif author_signed_in?   %>
                
                <% if comment.author == current_author %>
                
                <%= button_to 'Delete', [comment.post, comment],
                    method: :delete, class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' } %>
              
                <% elsif current_author.admin == true %>

                <%= button_to 'Delete', [comment.post, comment],
                    method: :delete, class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' } %>

              <% end %>
            
            <% end %>
            
            </div>
        <% end %>
    </div>
  </div>

  <!-- Quick Reply -->
  <div class="form-group mt-4">
      <%= form_for ([@post, @post.comments.build]) do |f| %>
      
      <%= f.text_area :body, class:"form-control z-depth-1", placeholder: "Your Comment" %><br />
      
      <%= f.submit "Comment", class: 'btn btn-primary btn-rounded btn-sm z-depth-0 ' %>
    <% end %>
  </div>
</section>
<!--Section: Comments-->
