<% provide(:page_title, @post.title) %>
  
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= @post.title %></h1>
            <span class="meta">Posted by
              <a href="<%= author_path(@post.author.name) %>"><%= @post.author.name %></a> <%= @post.created_at.strftime("%b %d, %Y") %></span>
          </div>
        </div>
  </div>
  
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><%= @post.body.html_safe %></p>
        </div>
      </div>
  </article>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<%= button_to "Delete", post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm" %>
